#container-create-account__desktop-mode {
    height: 100%;
    width: 100%;
}

.container-section-desktop.full-width {
    width: 100%!important;
}

.container-section-desktop{
    position: fixed;
    width: calc(100% - 230px);
    height: calc(100% - 90px);
    bottom: 0;
    right: 0;
  
    &.full-width{
      width: 100% !important;
    }
  }
  


#create-account {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#step-one-create-account.desktop-mode {
    width: 900px;
    max-height: 90%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    height: 80vh;
    top: 6%;
    left: -3%;
    overflow-y: scroll;
}



::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

#step-five-create-account, #step-four-create-account, #step-one-create-account, #step-three-create-account, #step-two-create-account {
    border-radius: 12px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    box-shadow: 0 16px 12px -10px #6c98b580;
}

#step-one-create-account.desktop-mode .header__steps-create-account {
    height: 50px;
}

.header__steps-create-account {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.header__steps-create-account .all-left {
    display: flex;
}

.header__steps-create-account .all-left .left-arrow-mobile-mode {
    width: 60px;
}

.header__steps-create-account .all-left .left, .header__steps-create-account .all-left .rigth {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header__steps-create-account .center {
    display: flex;
    align-items: center;
}

.header__steps-create-account .rigth {
    width: 260px;
}

.header__steps-create-account .rigth .required_text {
    color: #707b84;
}

.body__steps-create-account {
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: 17%;
}

#step-one-create-account.desktop-mode .body__steps-create-account {
    height: calc(100% - 50px);
}

.body__steps-create-account .second-body__steps-create-account {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.body__steps-create-account.desktop-mode .container__body__steps-create-account {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0 0;
}

.body__steps-create-account .container__body__steps-create-account {
    width: 100%;
}

.body__steps-create-account.desktop-mode .container__body__steps-create-account .container-top-bottom-or-side__steps-create-account {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

.body__steps-create-account .container__body__steps-create-account .container-top-bottom-or-side__steps-create-account {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.body__steps-create-account.desktop-mode .container__body__steps-create-account .container-top-bottom-or-side__steps-create-account label {
    margin: 10px 30px 10px 10px;
}

.container__input-all {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.container__input-all, .container__input-all * {
    transition: all .2s ease!important;
}


.input-general {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: 'Heebo', sans-serif !important;
    color: #e42107 !important;


}

.container__input-all * {
    transition: all .2s ease!important;
}

.container__input-all .annotation__input-general {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: $fontFamilyHeebo;
    color: #516575;
}

.container__input-all .container__input-general {
    width: 100%;
}

.container__input-all .container-lines__input-general {
    position: relative;
    width: 100%;
    height: 2px;
    margin-top: -2px;
    border-radius: 1px;
    overflow: hidden;
    background: transparent;
}

.container__input-all .container-suggestions__input-general {
    position: relative;
    width: 100%;
    height: 0;
    overflow-y: hidden;
    visibility: hidden;
}

.container__input-all .annotation__input-general {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: $fontFamilyHeebo;
    color: #516575;
}

.container__input-all .annotation__input-general.error {
    font-size: 0;
    color: #f00000;
}

.container__input-all .container__input-general .content-top__input-general {
    padding: 0 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.container__input-all .container__input-general hr.help-to-line {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d6dbdf;
    border-radius: 1px;
    background-color: #d6dbdf;
}

#step-one-create-account.desktop-mode .body__steps-create-account .container-buttons__steps-create-account {
    min-height: 70px;
}

.body__steps-create-account .container-buttons__steps-create-account.desktop-mode {
    width: 70%;
    flex-direction: row-reverse;
}



.body__steps-create-account .container-buttons__steps-create-account.desktop-mode button {
    width: 100%;
    max-width: 250px;
}

.container__input-all .container__input-general input {
    width: 100%;
    height: 30px;
    margin: 6px 0;
    font-size: 16px;
    border: none;
    outline: none;
    font-family: $fontFamilyHeebo;
    color: #707b84;
}

#step-one-create-account.desktop-mode .body__steps-create-account .container-buttons__steps-create-account {
    min-height: 70px;
}

.body__steps-create-account .container-buttons__steps-create-account {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: initial;
    margin-bottom: 4%;
    margin-right: 3%;
}

.body__steps-create-account .container-buttons__steps-create-account.desktop-mode button {
    width: 100%;
    max-width: 250px;
}

a.button-primary, button.button-primary {
    color: #fff;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    background: #009af0;
    background: -webkit-gradient(left top,right top,color-stop(0,#009af0),color-stop(100%,#0069a3));
    background: linear-gradient(
90deg
,#009af0 0,#0069a3);
    box-shadow: 0 10px 14px -8px #00000040;
}

button {
    height: auto;
    outline: none;
    border: none;
    background-color: transparent;
}

a, button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    font-family: $fontFamilyUbuntu;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}

.span__input-general{
    font-family: $fontFamilyHeebo;
    color: #707b84;
}

.body__steps-create-account .container-buttons__steps-create-account.desktop-mode button {
    width: 100%;
    max-width: 250px;
}

.body__steps-create-account .container-buttons__steps-create-account.desktop-mode button {
    width: 100%;
    max-width: 250px;
}

a.button-secondary, button.button-secondary {
    height: 50px;
    min-height: 40px;
    border-radius: 20px;
    color: #ff9c19;
    border: 1px solid #ff9c19;
    background: #fff;
}

.figure__background-app{
    width: 100%; 
    height: 400px;
    border-bottom-right-radius: 50px;
    background-color: #ff9c19;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotate(
    6deg
    );
    transform: rotate(
191deg
);
    z-index: -1;
    margin-left: -46%;
    margin-top: 50%;
}

@media screen and (max-width: $small) {

    #step-one-create-account.desktop-mode {
        width: 900px;
        max-height: 100%;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        height: 90vh;
        top: 3%;
        left: -3%;
        overflow-y: scroll;
    }

    .body__steps-create-account {
        width: 100%;
        padding-top: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        top: 5%;
    }

    .body__steps-create-account .container__body__steps-create-account .container-top-bottom-or-side__steps-create-account {
        display: block;
        align-items: center;
        justify-content: flex-start;
    }

    .body__steps-create-account .container-buttons__steps-create-account {
        width: 100%;
        display: block;
        align-items: center;
        justify-content: space-evenly;
        position: initial;

    }

    .body__steps-create-account .container-buttons__steps-create-account.desktop-mode button {
        width: 100%;
        max-width: 250px;
        margin-top: 4%;
    }

    .header__steps-create-account {
        width: 108%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .header__steps-create-account .all-left .left, .header__steps-create-account .all-left .rigth {
        width: 80px;
    display: flex;
    align-items: center;
    height: 134%;
    text-align: center;
    margin-top: 5%;
    
    }
    
    .figure__background-app{
        width: 100%; 
        height: 52%;
        border-bottom-right-radius: 50px;
        background-color: #ff9c19;
        -webkit-transform-origin: top right;
        transform-origin: top right;
        -webkit-transform: rotate(
        6deg
        );
        transform: rotate(
    188deg
    );
    z-index: -1;
    margin-left: -100%;
    margin-top: 208%;
    }
}